.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__main__bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/mainbg.svg);
    width: 100%;
    height: 100vh;
    border-radius: 24px;
}

.content__main {
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.content__main__title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--main-purple-1);
}

.content__main__sub {
    width: 80%;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);
}

.content__main__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
    margin-top: 2.5rem;
}

.content__partner {
    align-self: center;
    padding: 3rem 0 3rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.content__partner__title {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--main-purple-1);
    text-align: center;
    margin-bottom: 36px;
}

.content__partner__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
}

.content__partner__img {
    width: 47%;
    transition: transform 0.3s ease-in-out;
}

.content__about {
    width: 90%;
    padding: 6.25rem 0 6.25rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content__about__title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: var(--fsize-title-m);
    line-height: var(--lhsize-title-m);
    color: var(--main-purple-1);
    margin-bottom: 2.625rem;
}

.content__about__title__strong {
    color: var(--main-purple-2);
}

.content__about__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.content__about__boxes__box {
    background-color: var(--main-white);
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    width: 100%;
    height: 7.5rem;
    filter: drop-shadow(0 14px 64px rgba(35, 21, 91, 0.05));
    filter: drop-shadow(0 8px 12px rgba(35, 21, 91, 0.05));
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.content__about__boxes__box:hover { 
    transform: scale(1.04);
}

.content__about__boxes__number {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--main-purple-2);
}

.content__about__boxes__text {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--main-purple-1);
}

.content__product__bg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/forprojectsbg.svg);
    background-repeat: no-repeat;
    width: 100%;
    border-top-left-radius: 7rem;
}

.content__product__bg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/forinvestorsbg.svg);
    background-repeat: no-repeat;
    width: 100%;
    border-top-right-radius: 7rem;
}

.content__product {
    align-self: center;
    width: 90%;
    padding: 6.25rem 0 6.25rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}

.content__product__title1 {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--main-purple-2);
}

.content__product__title2 {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: var(--fsize-title-m);
    line-height: var(--lhsize-title-m);
    color: var(--main-purple-1);
    margin-bottom: 0.75rem;
}

.content__product__title2__strong {
    color: var(--main-purple-2);
}

.content__product__sub {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.content__product__boxes {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    justify-content: center;
}

.content__product__boxes__box {
    background-color: var(--main-white);
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.75rem;
    padding: 1.5rem;
    filter: drop-shadow(0 14px 64px rgba(35, 21, 91, 0.05));
    filter: drop-shadow(0 8px 12px rgba(35, 21, 91, 0.05));
    align-items: flex-start;
    text-align: justify;
    padding-left: 1.5rem;
    flex-grow: 1;
    transition: transform 0.3s ease-in-out;
}

.content__product__boxes__box:hover {
    transform: scale(1.04);
}

.content__product__boxes__check {
    width: 1.5rem;
}

.content__product__boxes__texts {
    display: flex;
    flex-direction: column;
}

.content__product__boxes__title {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--main-purple-1);
    margin-bottom: 0.25rem;
}

.content__product__boxes__sub {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: var(--text-color);
}

.content__product__buttons {
    width: 100%;
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.content__product__boxes__text__strong {
    color: var(--main-purple-2);
    font-weight: 500;
}

.content__defipie__bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content__defipie {
    align-self: center;
    width: 100%;
    padding: 6.25rem 0 6.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__defipie__img {
    margin-top: 1.25rem;
    width: 90%;
    border-radius: 48px;
    top: 0;
}

.content__defipie__box {
    width: 90%;
    display: flex;
    flex-direction: column; 
    justify-content: left;
}

.content__defipie__logo {
    width: 18%;
}

.content__defipie__title {
    margin-top: 1rem;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: var(--fsize-title-m);
    line-height: var(--lhsize-title-m);
    color: var(--main-purple-1);
    margin-bottom: 3.25rem;
    text-align: left;
    width: 100%;
}

.content__defipie__title__strong {
    color: var(--main-purple-2);
}

.content__defipie__text {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--text-color);
}



/* -----Responsive-----*/
  @media (min-width: 528px) {
    .content__partner__img {
        width: 220px;
    }
  }

  @media (min-width: 768px) {
    .content__main__title {
        font-size: 4rem;
        line-height: 6rem;
    }

    .content__main__sub {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .content__about__title,
    .content__product__title2,
    .content__defipie__title {
        font-size: var(--fsize-title-d);
        line-height: var(--lhsize-title-d);
    }

    .content__about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .content__about__boxes {
        width: 50%;
    }

    .content__product__buttons {
        width: 100%;
        margin-top: 1.875rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 0.75rem;
    }

    .content__product__bg1 {
        margin-top: -10rem;
        padding-top: 9.375rem;
        border-top-left-radius: 250px;
    }

    .content__product__bg2 {
        border-top-right-radius: 250px;
    }

    .content__product__title2 { 
        width: 80%;
    }

    /* Title Size */

    .content__about__title {
        font-size: 2.6rem;
        line-height: 3rem;
    }

    .content__product__title2 {
        font-size: 2.6rem;
        line-height: 3rem;
    }

    .content__defipie__title {
        font-size: 2.6rem;
        line-height: 3rem;
        text-align: right;
    }

    .content__defipie {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 1.85%;
        position: relative;
        overflow: hidden;
        align-items: center;
        padding-top: 20%;
        padding-bottom: 18.75rem;
    }
    
    .content__defipie__img {
        position: absolute;
        grid-column: 1 / 4;
        left: -90%;
        width: auto;
        border-radius: 150px;
    }

    .content__defipie__box {
        grid-column: 5/9;
        margin-top: -10%;
    }

  }

  @media (min-width: 992px) {
    .content__product__boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
    }

    .content__product__boxes__box {
        width: 100%;
    }

    .content__defipie__bg {
        background-image: url(/img/defipiebg.svg);
        background: linear-gradient(to bottom, #FBFAFF, #FFF);
        background-repeat: no-repeat;
        background-position: center left 40%;
        background-position-y: 28%;
    }

    .content__defipie {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-bottom: 12.5rem;
    }
    
    .content__defipie__img {
        position: absolute;
        grid-column: 1 / 3;
        left: -110%;
        width: auto;
        border-radius: 200px;
    }

    .content__defipie__box {
        grid-column: 7 / 12;
        margin-top: -10%;
    }
    
    .content__defipie__title {
        font-size: 3.25rem;
        line-height: 4.375rem;
        width: 100%;
        text-align: left;
    }

    .content__defipie__text {
        text-align: left;
    }
  }